.feature-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  .item + .item {
    margin-left: 30px;
  }

  .item {
    margin-top: 30px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 4 * 15px) / 2);

      &:nth-child(2n-1) {
        margin-left: 0;
      }
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
    }
  }

  .item::before {
    display: block;
    content: "";
    height: 120px;
    background-color: #f5f4fa;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
}
.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}
.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}
.icon-austronaut::before {
  background-image: url("../images/astronaut.svg");
}
