footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg-color;
  line-height: 1.71;
  letter-spacing: 0.42px;

  .social-app {
    margin-left: 0;
  }

  .social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $primary-white-color;
  }
}

footer .upper-footer {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;

    text-align: start;
  }
}

.address {
  display: inline-block;

  color: $primary-white-color;
}
.social-footer {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 69px;
  }
}

footer .logo {
  color: $primary-white-color;

  @media screen and (max-width: 1199px) {
    display: inline;
    text-align: center;
  }
}

address {
  font-style: normal;
  margin-top: 20px;

  a {
    color: $primary-text-color;
    margin-top: 9px;
  }
}
footer h2 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
}
strong {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}

.emailing {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 94px;
    margin-right: auto;
  }
}
.emailing-form {
  @media screen and (max-width: 1199px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}

footer .form-input {
  height: 50px;
  width: 358px;
  padding-right: 12px;
  padding-left: 16px;
  margin-left: 0;
  margin-right: 12px;
  margin-bottom: 20px;

  background-color: $footer-bg-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;

  font: $secondary-font;
  line-height: 1.25;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}
.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: $primary-white-color;
}
