.our-team {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    max-width: 1600px;
  }

  .item + .item {
    @media screen and (min-width: 768px) {
      margin-left: 30px;
    }
  }
}
.our-team > .item {
  min-height: 450px;
  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  padding-bottom: 24px;
  @media screen and (max-width: 479px) {
    min-height: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-height: 422px;
    width: calc((100% - 4 * 15px) / 2);
    &:nth-child(2n + 1) {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    height: 422px;
    width: calc((100% - 8 * 15px) / 4);
  }
}
.team-section {
  background-color: #f5f4fa;
}

.our-team h3,
.our-team p {
  font: $secondary-font;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-align: center;
}
.our-team h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}
.our-team p {
  margin-bottom: 16px;
}
.social-app {
  display: flex;
  justify-content: center;
  align-items: center;

  .item + .item {
    margin-left: 10px;
  }
  .icon {
    display: flex;
    width: 20px;
    height: 20px;
  }
}

.social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  fill: $primary-text-color;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;

  &:hover,
  &:focus {
    background: $accent-color;
    fill: $primary-white-color;
  }
}
