.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.site-nav,
.contact-nav {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.icon-email {
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.icon-tell {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}
