.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.header-menu {
  display: flex;
  align-items: center;

  min-height: 80px;
  width: 100%;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: transparent;
    fill: $accent-color;
    border: none;
  }

  @media screen and (min-width: 769px) {
    display: none;
  }
}
.menu-button .icon-close {
  display: none;
  content: " ";
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
  content: "";
}

.mobile-menu {
  @media screen and (max-width: 768px) {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;

    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 4px 8px rgba(0, 0, 0, 0.04);
  }

  &.is-open {
    display: block;
    pointer-events: initial;
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
    margin-left: 81px;
    align-items: center;

    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 85px;
    align-items: baseline;
  }
}

.site-nav,
.contact-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.site-nav {
  @media screen and (max-width: 768px) {
    display: block;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.28px;
    text-align: center;
  }
  @media screen and (min-width: 769px) {
    display: flex;
    justify-content: center;
  }
}

.site-nav .item {
  position: relative;

  display: block;
  color: $title-text-color;
  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
}
.item .current-page {
  color: $accent-color;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: auto;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
.site-nav .item + .item {
  @media screen and (min-width: 769px) {
    margin-left: 30px;
  }
}
.contact-nav {
  @media screen and (max-width: 768px) {
    margin-top: 60px;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.28px;
    text-align: center;
  }

  @media screen and (min-width: 481px) {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

.contact-nav .item {
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    display: inline;
    margin-left: auto;
  }
}

.contact-nav .item + .item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
.contact-nav a {
  color: $primary-text-color;
  fill: $primary-text-color;
}
.icon-email {
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.icon-tell {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.contact {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}
